/* Target hanya menu di sidebar kiri */
.drawer-side .menu li > *:active {
  background-color: #f5fefd !important; /* warna klik light mode */
  color: #002d6a !important; /* warna teks */
}

.drawer-side .menu li > *.active {
  color: white !important;
}

.drawer-side .menu li > * {
  font-weight: bold !important;
}

[data-theme="dark"].drawer-side .menu li > * {
  color: #002d6a !important;
  font-weight: bold !important;
}

/* hover state */
.drawer-side .menu li > *:hover {
  color: #002d6a !important;
  background-color: white !important; /* ini bg onclick */
}

[data-theme="dark"] .drawer-side .menu li > *:active,
[data-theme="dark"] .drawer-side .menu li > *.active {
  background-color: #002d6a !important; /* warna klik dark mode */
  color: white !important;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-gradient {
  background: linear-gradient(135deg, #0256c4 0%, #0377ff 50%, #00aaff 100%);
}

.bg-detail {
  background-color: #edf4ff;
  color: #0256c4;
}

.bg-delete {
  background-color: #ffeded;
  color: #c40202;
}

.bg-add {
  background-color: #efffed;
  color: #0fc402;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
