/* Target hanya menu di sidebar kiri */
.drawer-side .menu li > *:active,
.drawer-side .menu li > *.active {
  background-color: #96696d !important; /* warna klik light mode */
  color: #000 !important; /* warna teks */
}

[data-theme="dark"] .drawer-side .menu li > *:active,
[data-theme="dark"] .drawer-side .menu li > *.active {
  background-color: #0e4356 !important; /* warna klik dark mode */
  color: #fff !important;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
